# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.cproject
/.project
/.idea
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/phpx.cbp
/install_manifest.txt
/examples/embed/embed
.DS_Store
CMakeFiles/
examples/gtk/gtk.so.dSYM/
examples/test/test.so.dSYM/
console/vendor
console/test
console/composer.lock
